@import 'normalize.css/normalize'
@import './variables'
@import './fonts'

body
  margin: 0
  font-family: 'Roboto', sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace
*
  box-sizing: border-box
button
  border: 0

h1
  margin: 0

.link
  color: $black
  transition: color .2s
  text-decoration: none
  &:hover
    color: $primary
.link--light
  color: $greyLight
  &:hover
    color: $primary
.link--primary
  color: $primary
  &:hover
    color: $greyLight

.container
  width: 100%
  max-width: 1279px
  padding: 0 16px
  margin: 0 auto